# This workflow is disabled - Frontend now deployed to Vercel
# To re-enable Firebase hosting, uncomment the configuration below

# name: Deploy Frontend to Firebase Hosting
# 
# on:
#   push:
#     branches:
#       - main
#     paths:
#       - 'frontend/**'
# 
# jobs:
#   deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3
